.title {text-align: center;}
.poster {
    border-color: blueviolet;
    height: 250px;
    width: 200px;
}
.description {
    text-align: center;
    width: 70%;
}
footer {
    position: fixed;
    position: sticky;
}